<h1>CAyuda</h1>

<p>
    Un quiz es utilizado para referirse a una prueba sencilla para evaluar un contenido, a partir de unas preguntas, conocimiento de un tema, avance de lectura; por parte de los integrantes de un grupo de estudio o un aula de clase.
</p>
<p> 
	https://github.com/monicamenesesdiez/quiz_2017
</p>